<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="/web/site/modUser/{{ app.session.get('authentication_data').id }}/{{ app.session.get('authentication_data').image }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{  app.session.get('authentication_data').name_surname }}</h2>
    </div>
</div>
<!-- /menu profile quick info -->